<div class="table-actions">
  <new-exercise (newExerciseEvent)="hasUpdated($event)"></new-exercise>
<!--  <button mat-raised-button (click)="deleteSelected()">Delete Selected</button>-->
  <input style="align-content: center; width:25%;"
         (input)="onSearch($event)"
         type="text"
         id="searchTextField"
         placeholder="Search">

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.exercise}} </td>
  </ng-container>

  <!-- Exercise Group Column -->
  <ng-container matColumnDef="primary">
    <th mat-header-cell *matHeaderCellDef> Primary Muscle </th>
    <td mat-cell *matCellDef="let element"> {{element.primary_muscle}} </td>
  </ng-container>

  <!-- Muscle Group Column -->
  <ng-container matColumnDef="secondary">
    <th mat-header-cell *matHeaderCellDef> Secondary Muscle </th>
    <td mat-cell *matCellDef="let element"> {{element.secondary_muscle}} </td>
  </ng-container>

  <!-- Short Video Link -->
  <ng-container matColumnDef="shortVideo">
    <th mat-header-cell *matHeaderCellDef> Short Video </th>
    <td mat-cell *matCellDef="let element"> <a href="{{element.short_video}}">link</a> </td>
  </ng-container>

<!--  &lt;!&ndash; Checkbox Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="select">-->
<!--    <th mat-header-cell *matHeaderCellDef>-->
<!--      <mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--                    [checked]="selection.hasValue() && isAllSelected()"-->
<!--                    [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--      </mat-checkbox>-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let row">-->
<!--      <mat-checkbox (click)="$event.stopPropagation()"-->
<!--                    (change)="$event ? selection.toggle(row) : null"-->
<!--                    [checked]="selection.isSelected(row)">-->
<!--      </mat-checkbox>-->
<!--    </td>-->
<!--  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
