/*button {*/
/*  margin-right: 8px;*/
/*}*/
/*:host {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: flex-start;*/
/*}*/

.workout-row td {
  border-bottom-width: 0;
}

.mat-grid-tile{
  border:solid 2px #000;
}

.workout-row-header{
  background: #b0b0b0;
  font-size: 18px;
  font-weight:bold;
}


.superset{
  font-size: 15px;
  background: #ffb888;
}
.warmup{
  font-size: 15px;
  background: #fd934d;
}
hr {
  clear: both;
  visibility: hidden;
}
