<mat-dialog-content>
  <h1>Name: {{this.workout.name}}</h1>
  <h3>Created By: {{this.workout.created_by}}</h3>

  <mat-grid-list cols="6" rowHeight="3:1">

    <mat-grid-tile class="workout-row-header">Exercise</mat-grid-tile>
    <mat-grid-tile class="workout-row-header">Rest</mat-grid-tile>
    <mat-grid-tile class="workout-row-header">Reps</mat-grid-tile>
    <mat-grid-tile class="workout-row-header">Tempo</mat-grid-tile>
    <mat-grid-tile class="workout-row-header">Sets</mat-grid-tile>
    <mat-grid-tile class="workout-row-header">Special Notes</mat-grid-tile>
    <hr>
    @for(ex of this.workout.warmup;track ex.id;let i = $index){
              <mat-grid-tile class="warmup">{{ex.name}}</mat-grid-tile>
              <mat-grid-tile class="warmup">{{ex.rest}}</mat-grid-tile>
              <mat-grid-tile class="warmup">{{ex.reps}}</mat-grid-tile>
              <mat-grid-tile class="warmup">{{ex.tempo}}</mat-grid-tile>
              <mat-grid-tile class="warmup">{{ex.sets}}</mat-grid-tile>
              <mat-grid-tile class="warmup">{{ex.special_notes}}</mat-grid-tile>

    }

  </mat-grid-list>
  <hr>

  @for(superset of this.workout.supersets;track $index){
    <mat-grid-list cols="6" rowHeight="3:1">
    @for(ex of superset;track ex.id;let i = $index){
      <mat-grid-tile class="superset">{{ex.name}}</mat-grid-tile>
      <mat-grid-tile class="superset">{{ex.rest}}</mat-grid-tile>
      <mat-grid-tile class="superset">{{ex.reps}}</mat-grid-tile>
      <mat-grid-tile class="superset">{{ex.tempo}}</mat-grid-tile>
      <mat-grid-tile class="superset">{{ex.sets}}</mat-grid-tile>
      <mat-grid-tile class="superset">{{ex.special_notes}}</mat-grid-tile>
      }
  </mat-grid-list>
<hr>
  }

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]=true>Start Workout</button>
</mat-dialog-actions>
