<h2 mat-dialog-title>Workout Builder</h2>
<mat-dialog-content>


  <mat-grid-list cols="6" rowHeight="3:1">
    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput type="text" placeholder="Workout Name" #workoutName>
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput type="text" placeholder="Created By" #createdBy>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4"></mat-grid-tile>


    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Exercise</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Rest</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Reps</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Tempo</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Sets</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Special Notes</mat-grid-tile>
  </mat-grid-list>
  <hr style="clear:both;visibility:hidden">

  <mat-grid-list cols="6" rowHeight="5:1">

  <mat-grid-tile>
    <div style="width:100%;display:flex;flex-direction:row;align-items: center">
      <p>Warmup</p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <button mat-raised-button style="width:95%;height:50%;align-content:center;" (click)="removeWarmupEx()">Remove Exercise</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button style="width:100%;height:50%;align-content:center;" (click)="addWarmupEx()">Add Exercise</button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="6" rowHeight="3:1">
  @for(k of [].constructor(warmupExCount);track k){
    @for(item of [].constructor(6);track item;let i = $index){
    <mat-grid-tile style="text-align:right">
      <mat-form-field style="width:99%;height:100%;text-align:right">
        @if(i == 0){
        <input type="text"
               placeholder="Exercise"
               aria-label="Exercise"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for(ex of exList;track ex){
        <mat-option [value]="ex.exercise">{{ex.exercise}}</mat-option>
        }
        </mat-autocomplete>
        }
        @else{
        <input matInput style="width:99%;height:100%" type="text" placeholder="">
        }

      </mat-form-field>
    </mat-grid-tile>
     }
    }
  </mat-grid-list>


<!--  Supersets  -->
  @for(item of [].constructor(supersetCount);track item;let i = $index){
  <mat-grid-list cols="6" rowHeight="5:1">
  <mat-grid-tile>
      <div style="width:100%;display:flex;flex-direction:row;align-items: center">
        <p>Superset {{i+1}}</p>
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <button mat-raised-button style="width:95%;height:50%;align-content:center;" (click)="removeEx()">Remove Exercise</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button style="width:100%;height:50%;align-content:center;" (click)="addEx()">Add Exercise</button>
    </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="3:1">
    @for(k of [].constructor(superset1ExCount);track k){
      @for(item of [].constructor(6);track item;let i = $index){
      <mat-grid-tile style="text-align:right">
        <mat-form-field style="width:99%;height:100%;text-align:right">
          @if(i == 0){
      <input type="text"
             placeholder="Exercise"
             aria-label="Exercise"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for(ex of exList;track ex){
        <mat-option [value]="ex.exercise">{{ex.exercise}}</mat-option>
        }
      </mat-autocomplete>
      }
      @else{
      <input matInput style="width:99%;height:100%" type="text" placeholder="">
      }

      </mat-form-field>
    </mat-grid-tile>
      }
    }
    </mat-grid-list>

  }





</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="addSuperset()">Add Superset</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="{name: workoutName.value}">Save</button>
</mat-dialog-actions>
