<h2 mat-dialog-title>Workout Builder</h2>
<mat-dialog-content>


  <mat-grid-list cols="6" rowHeight="3:1">
    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput type="text" placeholder="Workout Name" [(ngModel)]="name">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput type="text" placeholder="Created By" [(ngModel)]="createdBy">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput type="text" placeholder="Type" [(ngModel)]="type">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3"></mat-grid-tile>


    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Exercise</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Rest</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Reps</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Tempo</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Sets</mat-grid-tile>
    <mat-grid-tile class="workout-row-header" style="border:solid 2px #000">Special Notes</mat-grid-tile>
  </mat-grid-list>
  <hr style="clear:both;visibility:hidden">

  <mat-grid-list cols="6" rowHeight="5:1">

  <mat-grid-tile>
    <div style="width:100%;display:flex;flex-direction:row;align-items: center">
      <p>Warmup</p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <button mat-raised-button style="width:95%;height:50%;align-content:center;" (click)="removeWarmupEx()">Remove Exercise</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button style="width:100%;height:50%;align-content:center;" (click)="addWarmupEx()">Add Exercise</button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="6" rowHeight="3:1">
  @for(k of [].constructor(warmupExCount);track k;let exIdx = $index){
    @for(item of [].constructor(6);track item;let i = $index){
    <mat-grid-tile style="text-align:right">
      <mat-form-field style="width:99%;height:100%;text-align:right">
        @if(i == 0){
        <input type="text"
               placeholder="Exercise"
               aria-label="Exercise"
               matInput
               [matAutocomplete]="auto"
               (ngModelChange)="doFilter($event)"
               [(ngModel)]="warmup[exIdx].name">
        <mat-autocomplete #auto="matAutocomplete">
          @for(ex of filteredOptions;track ex;let optionID = $index){
            <mat-option #matOptionWarm [value]="ex.exercise" style="font-size:15px" (click)="hasSelectedWarmupEx(matOptionWarm.selected,exIdx,optionID+1)">{{ex.exercise}}</mat-option>
          }
        </mat-autocomplete>
        }
        @else if (i == 1){
          <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="warmup[exIdx].rest">
        }
        @else if (i == 2){
        <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="warmup[exIdx].reps">
        }
        @else if (i == 3){
        <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="warmup[exIdx].tempo">
        }
        @else if (i == 4){
        <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="warmup[exIdx].sets">
        }
        @else if (i == 5){
        <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="warmup[exIdx].special_notes">
        }
        @else{
          <h2>You shouldn't be here</h2>
        }


      </mat-form-field>
    </mat-grid-tile>
     }
    }
  </mat-grid-list>


<!--  Supersets  -->
  @for(item of [].constructor(supersets.length);track item;let i = $index){
  <mat-grid-list cols="6" rowHeight="5:1">
  <mat-grid-tile>
      <div style="width:100%;display:flex;flex-direction:row;align-items: center">
        <p>Superset {{i+1}}</p>
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <button mat-raised-button style="width:95%;height:50%;align-content:center;" (click)="removeEx(i)">Remove Exercise</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button style="width:100%;height:50%;align-content:center;" (click)="addEx(i)">Add Exercise</button>
    </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" rowHeight="3:1">
    @for(k of [].constructor(supersetCounts[i]);track k;let exIdx = $index){
      @for(item of [].constructor(6);track item;let j = $index){
      <mat-grid-tile style="text-align:right">
        <mat-form-field style="width:99%;height:100%;text-align:right">
        @if(j == 0){
          <input type="text"
                 placeholder="Exercise"
                 aria-label="Exercise"
                 matInput
                 [matAutocomplete]="auto"
                 [(ngModel)]="supersets[i][exIdx].name"
                 (ngModelChange)="doFilter($event)">
          <mat-autocomplete #auto="matAutocomplete">
            @for(ex of filteredOptions;track ex;let optionID = $index){
            <mat-option #matOptionSuper [value]="ex.exercise" style="font-size:15px" (click)="hasSelectedSupersetEx(matOptionSuper.selected,i,exIdx,optionID+1)">{{ex.exercise}}</mat-option>
            }
          </mat-autocomplete>
          }
          @else if (j == 1){
          <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="supersets[i][exIdx].rest">
          }
          @else if (j == 2){
          <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="supersets[i][exIdx].reps">
          }
          @else if (j == 3){
          <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="supersets[i][exIdx].tempo">
          }
          @else if (j == 4){
          <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="supersets[i][exIdx].sets">
          }
          @else if (j == 5){
          <input matInput style="width:99%;height:100%" type="text" placeholder="" [(ngModel)]="supersets[i][exIdx].special_notes">
          }
          @else{
          <h2>You shouldn't be here</h2>
          }

      </mat-form-field>
    </mat-grid-tile>
      }
    }
    </mat-grid-list>

  }





</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="addSuperset()">Add Superset</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="{name:name,type:type,created_by:createdBy,warmup:warmup,supersets:supersets}">Save</button>
</mat-dialog-actions>
