table {
  width: 100%;
}

.table-actions{
  display:flex;
  padding-bottom: 5px;
  padding-top:2px;
  align-items: center;
}

tr.detail-row {
  height: 0;
}

tr.workout-row:not(.expanded-row):hover{
  background: whitesmoke;
}

tr.workout-row:not(.expanded-row):active{
  background: #efefef;
}

.workout-row td {
  border-bottom-width: 0;
}

.mat-grid-tile{
  border:solid 2px #000;
}

.workout-row-header{
  background: #b0b0b0;
  font-size: 2.0em;
  font-weight:bold;
}


.superset{
  font-size: 2.0em;
}

